<script type="text/javascript-lazy">
    var app = angular.module('ctw');
    app.controllerProvider.register('toolController', function ($scope) {
        var initial = {
            height: undefined,
            imperial_feet: undefined,
            imperial_inches: undefined,

            age: undefined,
            weight: undefined,
            sex: "male",

            result: undefined,
            error: undefined
        }

        $scope.bmr = angular.copy(initial);
        $scope.units = "Metric";
        $scope.calculate = function () {
            var scope = $scope.bmr;
            if (validateDecimal(scope.age) && validateDecimal(scope.weight)) {
                var weight;
                var height;
                var age = scope.age;
                if ($scope.units === 'Imperial' && (validateDecimal(scope.imperial_feet) || validateDecimal(scope.imperial_inches))) {
                    height = (scope.imperial_feet || 0) * 30.48 + (scope.imperial_inches || 0) * 2.54;
                    weight = scope.weight / 2.20462262;
                } else if ($scope.units === 'Metric' && validateDecimal(scope.height)) {
                    height = scope.height;
                    weight = scope.weight;
                } else {
                    scope.error = 'Missing or invalid Input';
                    return;
                }

                var calories;
                if (scope.sex === 'male') {
                    calories = bmrMen(height, weight, age);
                } else if (scope.sex === 'female') {
                    calories = bmrWomen(height, weight, age);
                } else {
                    scope.error = 'Please specifiy a gender';
                    return;
                }

                scope.result = {
                    kilocalories: calories.toFixed(0),
                    kilojoules: (calories / 4.184).toFixed(0),
                };
            } else {
                scope.error = 'Missing or invalid Input';
                return;
            }
        }

        $scope.reset = function () {
            $scope.bmr = angular.copy(initial);
        }

        var bmrWomen = function (height, weight, age) {
            return 10 * weight + 6.25 * height - 5 * age - 161;
        }
        var bmrMen = function (height, weight, age) {
            return 10 * weight + 6.25 * height - 5 * age + 5;
        }

        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
    })
    ;
</script>
<style>
    .gender-radio {
        text-align: left !important;
        display: inline-block !important;
        width: 100px !important;
    }

    .nowrap {
        white-space: nowrap;
    }
</style>
<sharebar></sharebar>
<h1>BMR & Calorie Calculator</h1>
<div ng-controller="toolController">
    <form class="pure-form pure-form-aligned" novalidate>
        <fieldset>
            <legend>Enter your information and click calculate.
                <a class="nowrap" href=""
                   ng-click="units === 'Imperial' ? units = 'Metric' : units = 'Imperial'; reset()">
                    {{units === 'Imperial' ? 'Use Metric' : 'Use Imperial'}}
                </a>
            </legend>
            <div class="pure-control-group">
                <label for="male">
                    Sex:
                </label>
                <input id="male" type="radio" name="sex" value="male" ng-model="bmr.sex" checked>
                <label for="male" class="gender-radio">
                    Male
                </label>
            </div>
            <div class="pure-control-group">
                <label for="female"></label>
                <input id="female" type="radio" name="sex" value="female" ng-model="bmr.sex">
                <label for="female" class="gender-radio">
                    Female
                </label>

            </div>
            <div class="pure-control-group" ng-show="units === 'Metric'">
                <label for="height">Height (cm)</label>
                <input id="height" type="number" step="any" placeholder="cm"
                       ng-model="bmr.height">
            </div>
            <div class="pure-control-group" ng-show="units === 'Imperial'">
                <label for="height_imperial">Height (ft & in)</label>
                <input id="height_imperial" type="number" step="any" placeholder="feet"
                       ng-model="bmr.imperial_feet"/>
            </div>
            <div class="pure-control-group" ng-show="units === 'Imperial'">
                <label for="height"></label>
                <input type="number" step="any" placeholder="inches"
                       ng-model="bmr.imperial_inches"/>
            </div>
            <div class="pure-control-group">
                <label for="age">Age</label>
                <input id="age" type="number" step="any"
                       placeholder="age in years"
                       ng-model="bmr.age">
            </div>
            <div class="pure-control-group">
                <label for="weight">Weight ({{units === 'Imperial'?'lbs':'kg'}})</label>
                <input id="weight" type="number" step="any"
                       placeholder="{{units === 'Imperial'?'lbs':'kg'}}"
                       ng-model="bmr.weight">
            </div>

            <button class="pure-button pure-button-primary" ng-click="calculate()">Calculate
            </button>
            <button class="pure-button" type="reset" ng-click="reset()">Clear
            </button>
            <alert my-context="bmr"></alert>
            <div ng-show="bmr.result">
                <p>Your Body needs <b>{{bmr.result.kilocalories}} Kilocalories</b> or {{bmr.result.kilojoules}}
                    Kilojoule a day to maintain your weight.</p>

                <table class="pure-table">
                    <thead>
                    <tr>
                        <th>You need...</th>
                        <th>To lose...</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{bmr.result.kilocalories - 500}} Kcal</td>
                        <td>{{units === 'Imperial'?'1 lbs':'1/2 kg'}} per week.</td>
                    </tr>
                    <tr>
                        <td>{{bmr.result.kilocalories - 1000}} Kcal</td>
                        <td>{{units === 'Imperial'?'2 lbs':'1 kg'}} per week.</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>You need...</th>
                        <th>To gain...</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{bmr.result.kilocalories*1 + 500*1}} Kcal</td>
                        <td>{{units === 'Imperial'?'1 lbs':'1/2 kg'}} per week.</td>
                    </tr>
                    <tr>
                        <td>{{bmr.result.kilocalories*1 + 1000*1}} Kcal</td>
                        <td>{{units === 'Imperial'?'2 lbs':'1 kg'}} per week.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>
<hr/>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>How do I use this BMR calculator?</h4>
        <p>
            To calculate your Basal Metabolic Rate or BMR (also sometimes called RMR for Resting Metabolic Rate) just
            enter your sex (because different formuals are used for males and females),
            your height, your age and your weight.<br/>
            If you live in the UK, USA or any other country that doesn't use the metric system you can switch to the
            imperial system using the link on the top.<br/>
            After you click calculate, your BMR is calculated and you are presented with the caloric intake needed for
            maintaining your weight.<br/>
            In the table below your result you can see an estimation of what your caloric intake has to be for weight
            loss or gain.<br/>
            Please note: BMR calculator will calculate your basal metabolic rate. This is not your total daily calorie expenditure! If you want to know more about BMR read this article on what is basal metabolic rate. If you have selected activity level when calculating BMR than the above tool will calculate your approximate daily calorie expenditure. If you exceed that number (caloric surplus) you will start to gain weight as your body will gain extra fat. If you do not exceed that number (caloric deficit) you will maintain or lose weight (if caloric deficit is high).
            Source: http://healthiack.com/bmr-calculator
            BMR is short for Basal Metabolic Rate and represent the amount of calories your muscles burn every day just to maintain vital operations such as breathing or thinking. In other words, BMR rate is the amount of calories your body would burn if you were to stay in bed the whole day and do nothing at all!
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>What is the BMR?</h4>
        <p>
            The BMR (Basal Metabolic Rate) or RMR (Resting Metabolic Rate) is the amount of energy needed by an
            individual to maintain its weight.<br/>
            Exceeding your BMR can result in weight gain just as falling short of your BMR can result in weight
            loss.<br/>
            Your basal metabolic rate accounts for about 60 to 75% of the calories you burn every day.
            This calculator uses the Mifflin St. Jeor formula established in 1990 which is much more accurate than the
            Harris-Benedict Equation from 1919.
            The Basal Metabolic Rate (BMR) is the amount of energy you need while resting in a temperate environment
            during the post-absorptive state, or when your digestive system is inactive. In such a state, your energy
            will be used only to maintain your vital organs, which include the heart, lungs, kidneys, the nervous
            system, intestines, liver, lungs, sex organs, muscles, and skin. The BMR decreases with age and increases
            with muscle mass.
            The BMR is measured under very restrictive circumstances while awake. An accurate BMR measurement requires
            that a person's sympathetic nervous system is inactive, which means the person must be completely rested.
            Basal metabolism is usually the largest component of a person's total caloric needs. The daily calorie needs
            is the BMR value multiplied by a factor with a value between 1.2 and 1.9, depending on the activity level.
            In most situations, the BMR is estimated with equations summarized from statistical data. The most commonly
            used one is the Mifflin - St Jeor equation:
        <p>BMR = 10 * weight(kg) + 6.25 * height(cm) - 5 * age(y) + 5 (man)</p>
        <p>BMR = 10 * weight(kg) + 6.25 * height(cm) - 5 * age(y) - 161 (woman)</p>
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Who should use this?</h4>
        <p>
            When interpreting the results from your calculations, please consider that the Basal Metabolic Rate does not
            take physical activity into consideration.<br/>
            If you exercise a lot or do a lot of physical activities at your job, the caloric intake may be up to
            1000Kcal higher than what the calculations show.<br/>
            If you feel like your caloric intake is higher or lower than it should be and/or you are obese or
            underweight, please seek medical advice.
            The results provided by our BMR calculator are not 100% accurate as BMR calculator does not take into account the following factors: density of your bones, your muscle mass, your body fat percentage, the amount of water that is present in your body at the moment of calculation. The accuracy of this calculation is still fairly accurate for non-obese and non-athlete person.
            Your BMR (Basal Metabolic Rate) is an estimate of how many calories you'd burn if you were to do nothing but rest for 24 hours. It represents the minimum amount of energy needed to keep your body functioning, including breathing and keeping your heart beating.
            Your BMR does not include the calories you burn from normal daily activities or exercise.
            Our calculator uses the Mifflin-St. Jeor equations to estimate your BMR which is believed to be more accurate than the more commonly used Harris-Benedict equation.
        </p>
    </div>
</div>



