<script type="text/javascript-lazy">
    var app = angular.module('ctw');
    app.controllerProvider.register('toolController', function ($scope) {
        var initial = {
            height: undefined,
            imperial_feet: undefined,
            imperial_inches: undefined,

            neck: undefined,
            waist: undefined,
            hips: undefined,

            weight: undefined,
            sex: "male",

            result: undefined,
            error: undefined
        }

        $scope.bodyfat = angular.copy(initial);
        $scope.units = "Metric";
        $scope.calculate = function () {
            var scope = $scope.bodyfat;
            if (validateDecimal(scope.neck) && validateDecimal(scope.waist)) {
                var height;
                var neck;
                var waist;
                var percentage;
                if ($scope.units === 'Imperial' && (validateDecimal(scope.imperial_feet) || validateDecimal(scope.imperial_inches))) {
                    height = (scope.imperial_feet || 0) * 30.48 + (scope.imperial_inches || 0) * 2.54;
                    neck = scope.neck * 2.54;
                    waist = scope.waist * 2.54;
                } else if ($scope.units === 'Metric' && validateDecimal(scope.height)) {
                    height = scope.height;
                    neck = scope.neck;
                    waist = scope.waist;
                } else {
                    scope.error = 'Missing or invalid Input';
                    return;
                }
                if (scope.sex === 'male') {
                    percentage = bodyFatMen(height, neck, waist);
                } else if (scope.sex === 'female' && validateDecimal(scope.hips)) {
                    var hips;
                    if($scope.units === 'Imperial'){
                        hips = scope.hips * 2.54;
                    } else if ($scope.units === 'Metric'){
                        hips = scope.hips;
                    }
                    percentage = bodyFatWomen(height, neck, waist, hips);
                } else {
                    scope.error = 'Missing or invalid Input';
                    return;
                }
                percentage = Math.max(percentage,0);
                scope.result = {
                    bodyfat_percentage: percentage.toFixed(2),
                    bodyfat_weight: undefined,
                    lean_weight: undefined
                };
                if (scope.weight) {
                    scope.result.bodyfat_weight = (percentage / 100 * scope.weight).toFixed(2);
                    scope.result.lean_weight = (scope.weight - scope.result.bodyfat_weight).toFixed(2);
                }

            } else {
                scope.error = 'Missing or invalid Input';
                return;
            }


        }
        $scope.reset = function () {
            $scope.bodyfat = angular.copy(initial);
        }

        var bodyFatWomen = function (height, neck, waist, hips) {
            return 495 / (1.29579 - 0.35004 * (Math.log(waist + hips - neck) / Math.LN10) + 0.22100 * (Math.log(height) / Math.LN10)) - 450;
        }
        var bodyFatMen = function (height, neck, waist) {
            return 495/(1.0324-0.19077*(Math.log(waist-neck) / Math.LN10)+0.15456*(Math.log(height) / Math.LN10))-450;
        }

        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
    })
    ;
</script>
<style>
    .gender-radio {
        text-align: left !important;
        display: inline-block !important;
        width: 100px !important;
    }

    .nowrap {
        white-space: nowrap;
    }
</style>
<h3>Body Fat Calculator</h3>
<div ng-controller="toolController">
    <form class="pure-form pure-form-aligned" novalidate>
        <fieldset>
            <legend>Enter your information and click calculate.
                <a class="nowrap" href=""
                   ng-click="units === 'Imperial' ? units = 'Metric' : units = 'Imperial'; reset()">
                    {{units === 'Imperial' ? 'Use Metric' : 'Use Imperial'}}
                </a>
            </legend>
            <div class="pure-control-group">
                <label for="male">
                    Sex:
                </label>
                <input id="male" type="radio" name="sex" value="male" ng-model="bodyfat.sex" checked>
                <label for="male" class="gender-radio">
                    Male
                </label>
            </div>
            <div class="pure-control-group">
                <label for="female"></label>
                <input id="female" type="radio" name="sex" value="female" ng-model="bodyfat.sex">
                <label for="female" class="gender-radio">
                    Female
                </label>

            </div>
            <div class="pure-control-group" ng-show="units === 'Metric'">
                <label for="height">Height (cm)</label>
                <input id="height" type="number" step="any" placeholder="cm"
                       ng-model="bodyfat.height">
            </div>
            <div class="pure-control-group" ng-show="units === 'Imperial'">
                <label for="height_imperial">Height (ft & in)</label>
                <input id="height_imperial" type="number" step="any" placeholder="feet"
                       ng-model="bodyfat.imperial_feet"/>
            </div>
            <div class="pure-control-group" ng-show="units === 'Imperial'">
                <label for="height"></label>
                <input type="number" step="any" placeholder="inches"
                       ng-model="bodyfat.imperial_inches"/>
            </div>
            <div class="pure-control-group">
                <label for="neck">Neck ({{units === 'Imperial'?'inch':'cm'}})</label>
                <input id="neck" class="input" type="number" step="any"
                       placeholder="{{units === 'Imperial'?'inch':'cm'}}"
                       ng-model="bodyfat.neck"/>
            </div>
            <div class="pure-control-group">
                <label for="waist">Waist ({{units === 'Imperial'?'inch':'cm'}})</label>
                <input id="waist" type="number" step="any"
                       placeholder="{{units === 'Imperial'?'inch':'cm'}}"
                       ng-model="bodyfat.waist">
            </div>
            <div class="pure-control-group" ng-show="bodyfat.sex === 'female'">
                <label for="hips">Hips ({{units === 'Imperial'?'inch':'cm'}})</label>
                <input id="hips" type="number" step="any"
                       placeholder="{{units === 'Imperial'?'inch':'cm'}}"
                       ng-model="bodyfat.hips">
            </div>
            <div class="pure-control-group">
                <label for="weight">Weight (optional, {{units === 'Imperial'?'lbs':'kg'}})</label>
                <input id="weight" type="number" step="any"
                       placeholder="{{units === 'Imperial'?'lbs':'kg'}}"
                       ng-model="bodyfat.weight">
            </div>
            <button class="pure-button pure-button-primary" ng-click="calculate()">Calculate
            </button>

            <button class="pure-button" type="reset" ng-click="reset()">Clear
            </button>


            <div class="alert" ng-show="bodyfat.error !== undefined">
                <div class="alert_inner">
                    <div class="alert_text">{{bodyfat.error}}</div>
                    <div class="alert_dismiss" ng-click="bodyfat.error = undefined">&times;</div>
                </div>
            </div>
            <div ng-show="bodyfat.result">
                <p>Your Body is <b>{{bodyfat.result.bodyfat_percentage}}&percnt;</b> fat.</p>

                <p ng-show="bodyfat.result.bodyfat_weight"> Thats {{bodyfat.result.bodyfat_weight}}{{units ===
                    'Imperial'?'lbs':'kg'}} of fat.</p>

                <p ng-show="bodyfat.result.lean_weight"> Your lean weight (without body fat)
                    is {{bodyfat.result.lean_weight}}{{units === 'Imperial'?'lbs':'kg'}}.</p>
            </div>
        </fieldset>
    </form>
</div>
<hr/>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Keywords</h4>

        <p>
            http://www.davedraper.com/bodyfat-calculation.html
            Über die Einordnung des Körperfettanteis, Ungenauigkeit, Berechnungsmethode (Navy) usw sprechen
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Lorem Ipsum</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam.
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Lorem Ipsum</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam.
        </p>
    </div>
</div>
</div>


