<script type="text/javascript-lazy">
    var app = angular.module('ctw');

    app.controllerProvider.register('toolController', function ($scope) {
        $scope.first = {
            denominator_result: 1,
            numerator_result: 0,
            operator: '+',
            error: ''
        };


        $scope.calculateFractions = function () {

            if (validateFraction($scope.first.numerator_one, $scope.first.denominator_one)
                    && validateFraction($scope.first.numerator_two, $scope.first.denominator_two)) {
                console.log("Validation successful");
                $scope.first.error = "";

                switch ($scope.first.operator) {
                    case '+':
                        //TODO
                        break;
                    case '-':
                        //TODO
                        break;
                    case '*':
                        //TODO
                        break;
                    case '/':
                        //TODO
                        break;
                    default:
                        $scope.first.error = 'Please specify an operator';
                }


            } else {
                $scope.first.error = "Wrong or missing Input.";
            }

            console.log("Input: " + $scope.first);
        };

        $scope.convert = function () {

        }


        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
        var validateFraction = function (numerator, denominator) {
            return validateDecimal(numerator) && validateDecimal(denominator) && denominator !== 0;
        };
    });
</script>

<style>
    .form-cell {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 10%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .form-cell input {
        max-width: 100%;
    }

    .input-form-cell {
        width: 15%;
        margin: 0 !important;
        padding: 0 !important;
    }

    /*Overriding pure*/
    .pure-input-1-2 {
        width: 100% !important;
    }

</style>
<!-- Todo Input one and get the other two and use Fraction.js-->
<h3>Fractions</h3>
<div ng-controller="toolController">
    <form class="pure-form">
        <fieldset>
            <legend>Fraction Calculator</legend>
            <div>
                <div class="form-cell input-form-cell">
                    <fieldset class="pure-group">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Numerator"
                               ng-model="first.numerator_one">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Denominator"
                               ng-model="first.denominator_one">
                    </fieldset>
                </div>
                <div class="form-cell input-form-cell">
                    <select ng-model="first.operator">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                </div>
                <div class="form-cell input-form-cell">
                    <fieldset class="pure-group">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Numerator"
                               ng-model="first.numerator_two">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Denominator"
                               ng-model="first.denominator_two">
                    </fieldset>
                </div>
                <div class="form-cell">
                    <b>=</b>
                </div>
                <div class="form-cell">
                    <sup>{{first.numerator_result}}</sup>/<sub>{{first.denominator_result}}</sub>
                </div>
            </div>
            <div>
                <button class="pure-button pure-button-primary" ng-click="calculateFractions()">Calculate
                </button>
            </div>
            <div class="alert" ng-show="first.error !== ''">
                <div class="alert_inner">
                    <div class="alert_text">{{first.error}}</div>
                    <div class="alert_dismiss" ng-click="first.error = ''">&times;</div>
                </div>
            </div>
        </fieldset>
    </form>
    <hr/>
    <form class="pure-form">
        <fieldset>
            <legend>Mixed Fraction to Fraction to Decimal (Input one and click calculate)</legend>
            <div>
                <div class="form-cell input-form-cell">
                    <input type="number" step="any" class="pure-input-1-2" placeholder="Decimal">
                </div>
                <div class="form-cell input-form-cell">
                    <fieldset class="pure-group">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Numerator">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Denominator">
                    </fieldset>
                </div>
                <div class="form-cell">
                    <b>=</b>
                </div>
                <div class="form-cell input-form-cell">
                    <fieldset class="pure-group">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Numerator">
                        <input type="number" step="any" class="pure-input-1-2" placeholder="Denominator">
                    </fieldset>
                </div>
                <div class="form-cell">
                    <b>=</b>
                </div>
                <div class="form-cell input-form-cell">
                    <input type="number" step="any" placeholder="Decimal">
                </div>
            </div>
            <div>
                <button class="pure-button pure-button-primary" ng-click="convert()">Calculate
                </button>
            </div>
        </fieldset>
    </form>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
    </div>
</div>


