<script type="text/javascript-lazy">

    var app = angular.module('ctw');
    var _scope;

    app.controllerProvider.register('toolController', function ($scope) {
        _scope = $scope;
        var percentAmountInitial = {
            error: undefined,
            percent: undefined,
            amount: undefined,
            result: undefined
        }

        $scope.percentOfAmount = angular.copy(percentAmountInitial);
        $scope.amountOfPercent = angular.copy(percentAmountInitial);

        var amountAmountInitial = {
            error: undefined,
            amount_1: undefined,
            amount_2: undefined,
            result: undefined
        }
        $scope.amountOfAmount = angular.copy(amountAmountInitial);
        $scope.percentageChange = angular.copy(amountAmountInitial);


        $scope.calculatePercentOfAmount = function () {
            scope = $scope.percentOfAmount;
            if (validateDecimal(scope.percent)
                    && validateDecimal(scope.amount)) {
                scope.error = undefined;
                scope.result = scope.amount / 100 * scope.percent;
            } else {
                scope.error = "Wrong or missing Input.";
            }
        };
        $scope.calculateAmountOfAmount = function () {
            scope = $scope.amountOfAmount;
            if (validateDecimal(scope.amount_1)
                    && validateDecimal(scope.amount_2)) {
                scope.error = undefined;
                scope.result = scope.amount_1 / scope.amount_2 * 100;
            } else {
                scope.error = "Wrong or missing Input.";
            }
        };
        $scope.calculateAmountOfPercent = function () {
            scope = $scope.amountOfPercent;
            if (validateDecimal(scope.amount)
                    && validateDecimal(scope.percent)) {
                scope.error = undefined;
                scope.result = scope.amount / scope.percent * 100;
            } else {
                scope.error = "Wrong or missing Input.";
            }
        };
        $scope.calculatePercentageChange = function () {
            scope = $scope.percentageChange;
            if (validateDecimal(scope.amount_1)
                    && validateDecimal(scope.amount_2)) {
                scope.error = undefined;
                scope.result = (scope.amount_2 - scope.amount_1) / scope.amount_1 * 100;
            } else {
                scope.error = "Wrong or missing Input.";
            }
        };


        $scope.clearFirst = function () {
            $scope.percentOfAmount = angular.copy(percentAmountInitial);
        }
        $scope.clearSecond = function () {
            $scope.amountOfAmount = angular.copy(amountAmountInitial);
        }
        $scope.clearThird = function () {
            $scope.amountOfPercent = angular.copy(percentAmountInitial);
        }
        $scope.clearFourth = function () {
            $scope.percentageChange = angular.copy(amountAmountInitial);
        }

        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
    });
</script>
<style>
    .input_row {
        vertical-align: middle;
        margin: 15px 0;
    }

    .input {
        padding: 5px !important;
    }

    .no_break {
        display: inline-block;
    }

    /*Overriding pure*/
    .pure-form input {
        display: inline-block !important;
        width: 100px;
    }

</style>
<h3>Percentage Calculator</h3>
<div ng-controller="toolController">
    <form class="pure-form" onreset="_scope.percentOfAmount.error = undefined; _scope.$apply()" novalidate>
        <fieldset>
            <legend>Percent of Amount</legend>
            <div class="input-form">
                <div class="input_row">
                    What is
                    <input class="input" type="number" step="any" placeholder="Percent"
                           ng-model="percentOfAmount.percent">
                    &#37;
                    <div class="no_break">
                        of
                        <input class="input" type="number" step="any" placeholder="Amount"
                               ng-model="percentOfAmount.amount">
                        ?
                    </div>
                </div>
                <div class="input_row">
                    Answer: <input type="number" step="any" placeholder="Answer"
                                   ng-model="percentOfAmount.result" readonly>

                    <div class="no_break">
                        <button class="pure-button pure-button-primary" ng-click="calculatePercentOfAmount()">Calculate
                        </button>
                        <button class="pure-button pure-button-primary" type="reset">Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert" ng-show="percentOfAmount.error !== undefined">
                <div class="alert_inner">
                    <div class="alert_text">{{percentOfAmount.error}}</div>
                    <div class="alert_dismiss" ng-click="percentOfAmount.error = undefined">&times;</div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="pure-form" novalidate>
        <fieldset>
            <legend>Percent of Amount</legend>
            <div class="input-form">
                <div class="input_row">
                    What is
                    <input class="input" type="number" step="any" placeholder="Percent"
                           ng-model="percentOfAmount.percent">
                    &#37;
                    <div class="no_break">
                        of
                        <input class="input" type="number" step="any" placeholder="Amount"
                               ng-model="percentOfAmount.amount">
                        ?
                    </div>
                </div>
                <div class="input_row">
                    Answer: <input type="number" step="any" placeholder="Answer"
                                   ng-model="percentOfAmount.result" readonly>

                    <div class="no_break">
                        <button class="pure-button pure-button-primary" ng-click="calculatePercentOfAmount()">Calculate
                        </button>
                        <button class="pure-button pure-button-primary" ng-click="clearFirst()">Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert" ng-show="percentOfAmount.error !== undefined">
                <div class="alert_inner">
                    <div class="alert_text">{{percentOfAmount.error}}</div>
                    <div class="alert_dismiss" ng-click="percentOfAmount.error = undefined">&times;</div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="pure-form" novalidate>
        <fieldset>
            <legend>Percent of Amount</legend>
            <div class="input-form">
                <div class="input_row">
                    What is
                    <input class="input" type="number" step="any" placeholder="Percent"
                           ng-model="percentOfAmount.percent">
                    &#37;
                    <div class="no_break">
                        of
                        <input class="input" type="number" step="any" placeholder="Amount"
                               ng-model="percentOfAmount.amount">
                        ?
                    </div>
                </div>
                <div class="input_row">
                    Answer: <input type="number" step="any" placeholder="Answer"
                                   ng-model="percentOfAmount.result" readonly>

                    <div class="no_break">
                        <button class="pure-button pure-button-primary" ng-click="calculatePercentOfAmount()">Calculate
                        </button>
                        <button class="pure-button pure-button-primary" ng-click="clearFirst()">Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert" ng-show="percentOfAmount.error !== undefined">
                <div class="alert_inner">
                    <div class="alert_text">{{percentOfAmount.error}}</div>
                    <div class="alert_dismiss" ng-click="percentOfAmount.error = undefined">&times;</div>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="pure-form" novalidate>
        <fieldset>
            <legend>Percent of Amount</legend>
            <div class="input-form">
                <div class="input_row">
                    What is
                    <input class="input" type="number" step="any" placeholder="Percent"
                           ng-model="percentOfAmount.percent">
                    &#37;
                    <div class="no_break">
                        of
                        <input class="input" type="number" step="any" placeholder="Amount"
                               ng-model="percentOfAmount.amount">
                        ?
                    </div>
                </div>
                <div class="input_row">
                    Answer: <input type="number" step="any" placeholder="Answer"
                                   ng-model="percentOfAmount.result" readonly>

                    <div class="no_break">
                        <button class="pure-button pure-button-primary" ng-click="calculatePercentOfAmount()">Calculate
                        </button>
                        <button class="pure-button pure-button-primary" ng-click="clearFirst()">Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert" ng-show="percentOfAmount.error !== undefined">
                <div class="alert_inner">
                    <div class="alert_text">{{percentOfAmount.error}}</div>
                    <div class="alert_dismiss" ng-click="percentOfAmount.error = undefined">&times;</div>
                </div>
            </div>
        </fieldset>
    </form>
    <hr/>


    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 text">
            <h4>Lorem Ipsum</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
    </div>
</div>


