<script type="text/javascript-lazy">
    var app = angular.module('ctw');
    app.controllerProvider.register('toolController', function ($scope) {
        var initial = {
            amount: undefined,
            percentage: undefined,
            people: undefined,

            result: undefined,
            error: undefined
        }
        $scope.loan = angular.copy(initial);
        $scope.calculate = function () {
            var scope = $scope.tip;
            if (validateDecimal(scope.amount) && validateDecimal(scope.percentage)) {
                scope.result = {
                    total: undefined,
                    tip: undefined,
                    perPerson: undefined,
                    tipPerPerson: undefined
                };

                scope.result.total = (scope.amount + scope.amount * (scope.percentage / 100)).toFixed(2);
                scope.result.tip = (scope.result.total - scope.amount).toFixed(2);

                if (validateDecimal(scope.people) && scope.people > 1) {
                    scope.result.perPerson = (scope.result.total / scope.people).toFixed(2);
                    scope.result.tipPerPerson = ((scope.result.total - scope.amount) / scope.people).toFixed(2);
                }
            } else {
                scope.error = 'Missing or invalid Input';
            }
        }
        $scope.reset = function () {
            $scope.tip = angular.copy(initial);
        }

        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
    })
    ;
</script>
<style>
    #form-wrapper {
        text-align: center;
    }
</style>
<h1>Tip Calculator</h1>
<div ng-controller="toolController">
    <div id="form-wrapper">
        <form class="pure-form pure-form-aligned" novalidate>
            <fieldset>
                <legend>Type in the amount of the Bill and the percentage you want to tip</legend>
                <div class="pure-control-group">
                    <label for="amount" class="label">Bill Amount</label>
                    <input id="amount" type="number" step="any" placeholder="amount"
                           ng-model="tip.amount"/>
                </div>
                <div class="pure-control-group">
                    <label for="percentage" class="label">Tip Percentage</label>
                    <input id="percentage" type="number" step="any" placeholder="%" ng-model="tip.percentage"/>
                </div>
                <div class="pure-control-group">
                    <label for="people" class="label">People (optional)</label>
                    <input id="people" type="number" step="any" placeholder="default is 1"
                           ng-model="tip.people"/>
                </div>
                <div>
                    <button class="pure-button pure-button-primary" ng-click="calculate()">Calculate
                    </button>
                    <button class="pure-button" type="reset" ng-click="reset()">Clear
                    </button>
                </div>
                <div class="alert" ng-show="tip.error !== undefined">
                    <div class="alert_inner">
                        <div class="alert_text">{{tip.error}}</div>
                        <div class="alert_dismiss" ng-click="tip.error = undefined">&times;</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div ng-show="tip.result">
        <p> Including tip, the bill is <b>{{tip.result.total}}</b><span ng-show="tip.result.perPerson"> or <b>{{tip.result.perPerson}}</b> per Person</span>.
        </p>
        <p><b>{{tip.result.tip}}</b> of that is tip</b><span ng-show="tip.result.tipPerPerson"> (or <b>{{tip.result.tipPerPerson}}</b> per Person)</span>.
        </p>
    </div>
</div>
<hr/>
<div class="pure-g">

    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>How much do I tip?</h4>
        <p>
            In the USA, 10-20&percnt; and at least 1-2 Dollars is considered a reasonable tip for most services, like restaurants, taxis, bars (bartender), spa service etc.<br/>
            In most other countrys, the average tip is much lower, ranging from 0-10&percnt; for the services mentioned above.<br/>
            Please consider that a lot of service workers depend on your tip to get a fair hourly wage. At the same time remember that tipping is should be a reward, and, while recommended, is not mandatory.
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>How do I use this tip calculator?</h4>
        <p>
            Enter the amount of the bill, the percentage you want to tip and, if you're not alone, the number of people you want to split the bill with.<br/>
            The tip calculator then shows you how much the bill is (including tip) and what each person has to pay if you're splitting the bill.<br/>
            It also shows you the amount of tip given and the amount of tip given per person.
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Who should use this?</h4>
        <p>
            If you want to tip for the service you got and don't know how much or if you're out with friends or family and you want to split the bill this calculator is the right choice for you.
        </p>
    </div>
</div>


