<script type="text/javascript-lazy">
    var app = angular.module('ctw');
    app.controllerProvider.register('toolController', function ($scope) {
        var initial = {
            amount: undefined,
            percentage: undefined,
            people: undefined,

            result: undefined,
            error: undefined
        }
        $scope.loan = angular.copy(initial);
        $scope.calculate = function () {
            var scope = $scope.tip;
            if (validateDecimal(scope.amount) && validateDecimal(scope.percentage)) {
                scope.result = {
                    total: undefined,
                    tip: undefined,
                    perPerson: undefined,
                    tipPerPerson: undefined
                };

                scope.result.total = (scope.amount + scope.amount * (scope.percentage / 100)).toFixed(2);
                scope.result.tip = (scope.result.total - scope.amount).toFixed(2);

                if (validateDecimal(scope.people) && scope.people > 1) {
                    scope.result.perPerson = (scope.result.total / scope.people).toFixed(2);
                    scope.result.tipPerPerson = ((scope.result.total - scope.amount) / scope.people).toFixed(2);
                }
            } else {
                scope.error = 'Missing or invalid Input';
            }
        }
        $scope.reset = function () {
            $scope.tip = angular.copy(initial);
        }

        var validateDecimal = function (decimal) {
            decimal = parseFloat(decimal);
            return angular.isNumber(decimal) && isFinite(decimal);
        }
    })
    ;
</script>
<style>
    #form-wrapper {
        text-align: center;
    }
</style>
<sharebar></sharebar>
<h1>Tip Calculator</h1>
<div ng-controller="toolController">
    <div id="form-wrapper">
        <form class="pure-form pure-form-aligned" novalidate>
            <fieldset>
                <legend>Type in the amount of the Bill and the percentage you want to tip</legend>
                <div class="pure-control-group">
                    <label for="amount" class="label">Bill Amount</label>
                    <input id="amount" type="number" step="any" placeholder="amount"
                           ng-model="tip.amount"/>
                </div>
                <div class="pure-control-group">
                    <label for="percentage" class="label">Tip Percentage</label>
                    <input id="percentage" type="number" step="any" placeholder="%" ng-model="tip.percentage"/>
                </div>
                <div class="pure-control-group">
                    <label for="people" class="label">People (optional)</label>
                    <input id="people" type="number" step="any" placeholder="default is 1"
                           ng-model="tip.people"/>
                </div>
                <div>
                    <button class="pure-button pure-button-primary" ng-click="calculate()">Calculate
                    </button>
                    <button class="pure-button" type="reset" ng-click="reset()">Clear
                    </button>
                </div>
                <alert my-context="tip"></alert>
            </fieldset>
        </form>
    </div>
    <div ng-show="tip.result">
        <p> Including tip, the bill is <b>{{tip.result.total}}</b><span ng-show="tip.result.perPerson"> or <b>{{tip.result.perPerson}}</b> per Person</span>.
        </p>
        <p><b>{{tip.result.tip}}</b> of that is tip</b><span ng-show="tip.result.tipPerPerson"> (or <b>{{tip.result.tipPerPerson}}</b> per Person)</span>.
        </p>
    </div>
</div>
<hr/>
<div class="pure-g">

    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>How much do I tip?</h4>
        <p>
            In the USA, 10-20% and at least 1-2 Dollars is considered a reasonable tip for most services, like restaurants, taxis, bars (bartender), spa service etc.<br/>
            In most other countrys, the average tip is much lower, ranging from 0-10% for the services mentioned above.<br/>
            Please consider that a lot of service workers depend on your tip to get a fair hourly wage. At the same time remember that tipping is should be a reward, and, while recommended, is not mandatory.
            hould you tip?
            Yes, if the service was acceptable. Many jobs in the service industry pay very little. Without tips, these workers would have a hard time raising a family.
            Who should you tip?
            Just about anyone in the service industry. Including, but not limited to, non-fast food restaurant workers, barbers, maids, taxi drivers, bartenders, and webmasters of conversion sites. ;)
            How much should you tip?
            The generally accepted value is 15% to 20%, though outside North America it may be different.
            If service was horrible, tip nothing and notify management. If the service was slow, tip 10%. If service was ok, tip 15%. If service was great, tip 20%.
            Keep in mind if the service is slow it is not always the servers fault. If you ever plan to return then the service was good enough that you should tip something. If the service was so poor that you plan not to tip, then it was also poor enough that you should notify management.
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>How do I use this tip calculator?</h4>
        <p>
            Enter the amount of the bill, the percentage you want to tip and, if you're not alone, the number of people you want to split the bill with.<br/>
            The tip calculator then shows you how much the bill is (including tip) and what each person has to pay if you're splitting the bill.<br/>
            It also shows you the amount of tip given and the amount of tip given per person.
            So, you're at your favorite restaurant without an Internet connection and you left your trusty calculator in your other pocket protector? All is not lost, there is a somewhat easy way to calculate the tip.
            15% = 10% + 5%. So what you need to do is figure out 10% then add half (5%).
            10% is very easy to calculate, you just move the decimal place one to the left. For example, if the bill is $25.00 then 10% would be $2.50.
            Then to figure out 5%, just take half of that, which would be $1.25.
            Now you have 10% which is $2.50 and 5% which is $1.25, add them together for a total of $3.75.
            Often, the bill ends up at some obscure value such as $17.73, which may be a bit difficult to calculate using the above method. In cases like that, just round it to the nearest dollar. It would be much easier to calculate the tip for $18.00.
        </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 text">
        <h4>Who should use this?</h4>
        <p>
            If you want to tip for the service you got and don't know how much or if you're out with friends or family and you want to split the bill this calculator is the right choice for you.
            Another quick tip estimator.
            Some countries and states have a sales tax, and you can base your tip off of that. For example, my state has a sales tax of 8.2%, so I would just double the tax and leave that much for a tip.
            A tip or gratuity is an extra sum of money paid to certain service workers for a service performed. While tip is normally not expected in most part of the world, it is widely practiced in the United States and Canada, especially in restaurants. In the United States, the Federal law allows employers to include tip in the compensation towards satisfying minimum wage requirement
        </p>
    </div>
</div>


